* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; /* used to remove the default bullet points or numbering from an unordered list like ul*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f3f7;
}

h1,
h2 {
  color: #333;
}
h1 {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.875rem;
}
h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  padding-bottom: 0.875rem;
  letter-spacing: 0.25px;
  text-align: left;
}

p {
    color: #333;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    max-width: 600px;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }